@model StockControll.ViewModel.UsersViewModel
@using PagedList.Mvc

@{
    ViewBag.Title = "Contact";
}

<style>
    .pagination-container {
        display: flex;
    }

    .pagination-container > ul {
        margin-inline: auto;
    }
</style>

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Posição</th>
                <th scope="col">hds</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @foreach (var user in Model.Users)
            {
                <tr>
                    <th scope="row">@user.Id</th>
                    <td>@user.Name</td>
                    <td>@user.UserType</td>
                    <td>fjsdlkfj</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<br />
<p>Página @Model.Filters.Page de @Model.Users.PageCount</p>

@Html.PagedListPager(Model.Users, Page => Url.Action("Contact", new { Rows = Model.Filters.Rows, Page = Page }))
