@model StockControll.ViewModel.UsersViewModel
@using PagedList.Mvc

@{
    ViewBag.Title = "Contact";
}

<style>
    .action-buttons {
        display: flex;
        gap: 15px;
        justify-content: flex-end;
        width: 100%;
    }

    .button-delete {
        background: red !important;
        border-color: red !important;
    }

    .fa-solid {
        margin-right: 8px;
    }

    .modal-title {
        display: contents;
    }

    .pagination-container {
        display: flex;
    }

        .pagination-container > ul {
            margin-inline: auto;
        }
</style>

@Styles.Render("~/Content/bootstrap.min.css", "~/Content/site.css", "~/Content/sweetalert2.min.css")

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Posição</th>
                <th scope="col">Botões de ação</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @foreach (var user in Model.Users)
            {
                <tr>
                    <th scope="row">@user.Id</th>
                    <td>@user.Name</td>
                    <td>@user.UserType</td>
                    <td>
                        <div class="action-buttons">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                                <i class="fa-solid fa-pen-to-square"></i>
                                Editar
                            </button>

                            <button type="button" class="btn btn-primary button-delete" data-toggle="modal" data-target="#myModal">
                                <i class="fa-solid fa-xmark"></i>
                                Deletar
                            </button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@if (@Model.Users.TotalItemCount > 0)
{
    <br />
    <p>Exibindo de @Model.Filters.Page até @Model.Users.PageCount de @Model.Users.TotalItemCount</p>

    @Html.PagedListPager(Model.Users, Page => Url.Action("Contact", new
    {
        Rows = Model.Filters.Rows,
        Page = Page
    }),
    new PagedListRenderOptions
    {
        DisplayLinkToFirstPage = PagedListDisplayMode.Always,
        DisplayLinkToLastPage = PagedListDisplayMode.Always,
        DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
        DisplayLinkToNextPage = PagedListDisplayMode.Always,
        MaximumPageNumbersToDisplay = 3
    })
}

<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="myForm">

                <div class="modal-header">
                    <h3 class="modal-title">Modal Header</h3>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" id="name" name="name">
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email" name="email">
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="submitForm()">Submit</button>
                </div>
            </form>

        </div>
    </div>
</div>

@Scripts.Render("~/Content/code.jquery.com_jquery-3.7.1.min.js", "~/Content/sweetalert2.min.js")

<script>
    function submitForm() {
        event.preventDefault();

        console.log('veio aqui', event);

        $("#myForm").submit();
    }

    $(document).ready(function () {
        // Handle form submission
        $("#myForm").submit(function (event) {
            event.preventDefault();
            // Perform form submission logic here

            // Close the modal
            $("#myModal").modal("hide");
        });
    });
</script>
